header {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.book {
    text-align: center;
}

.cover {
    max-width: 75%;
}

.portrait {
    width: 90%;
}

.post {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.authorInfo{
    margin: 50px;
    width: 50%;
    min-width: 300px;
}

.avatar {
    width: 75%;
    height: 75%;
    min-width: 125px; 
    min-height: 125px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
