body {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/wyndclyffe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
}

.container {
    color: rgb(38, 0, 59);
    box-shadow: 75px 0px 75px 0 rgb(0, 0, 0, .75) inset, -75px 0px 75px 0 rgb(0, 0, 0, .75) inset;
}

.center {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

header {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: rgb(104, 0, 0);
    font-weight: bold;
}

h1 {
    color: rgb(0, 92, 92);
}

.blogTitle {
    font-size: 2.5em;
    padding: 25px;
    text-shadow: 5px 5px 25px #202020;
}

.tab {
    font-size: 1.25em;
    text-shadow: 5px 5px 25px #181818;
    padding: 5px;
}

hr {
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #270029, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #270029, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #270029, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #270029, #f0f0f0); 
}

.book {
    text-align: center;
}

.cover {
    max-width: 75%;
    box-shadow: 5px 5px 50px 5px rgba(50, 50, 50, 0.75);
}

button {
    font-family: inherit;
    font-weight: bold;
    font-size: .75em;
    color:  inherit;
    /* height: auto; */
}

.portrait {
    width: 90%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);    
}

.quote {
    font-style: italic;
}

.post {
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 90%;
}

.authorInfo{
    margin: 50px;
    width: 75%;
    min-width: 300px;
}

.avatar {
    width: 40%;
    height: 40%;
    min-width: 125px; 
    min-height: 125px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
