body {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/wyndclyffe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    color: black;
}

.center {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

header {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: maroon;
}

.blogTitle {
    font-size: 2.5em;
    padding: 25px;

}

.tab {
    font-size: 1.25em;
}

.book {
    text-align: center;
}

.cover {
    max-width: 75%;
}

.portrait {
    width: 90%;
    border-radius: 50%;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);    
}

.post {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.authorInfo{
    margin: 50px;
    width: 50%;
    min-width: 300px;
}

.avatar {
    width: 75%;
    height: 75%;
    min-width: 125px; 
    min-height: 125px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
