@import "content-style.css";
@import "card-style.css";
@import "blogpost-author-layout.css";
@import "blogpost-author-style.css";

.container {
    display: flex;
    flex-direction: column;
}

.centerPanel {
    grid-area: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    display: flex;
    flex-direction: column;
}

.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post {
    width: 100%;
}

.cardPortrait {
    width: 100%;
}

.bookSection {
    display: flex;
    flex-direction: column;
}

.books {
    display: flex;
    justify-content: center;
}

.bookPair {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bookCover {
    width: 50%;
}

.cover {
    width: 85%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed center;
    bottom: 0;
}


/* Responsive Layout & Styles - Media Queries*/

@media(min-width: 901px) {

    .container {
        display: grid;
        grid-template-columns: .5fr 3fr .5fr;
        align-items: center;
        grid-template-areas:
            "sideL center sideR";
    }

    .sidebarL {
        grid-area: sidebarL;
    }
    
    .sidebarR {
        grid-area: sidebarR;
    }

    .tabs {
        display: flex;
        flex-direction: rows;
        justify-content: space-evenly;
    }

    .posts {
        display: flex;
        flex-direction: row;
    }

    .card {
        height: 95%;
    }

    .books {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-areas:
            ". bookPair .";
    }

    .bookPair {
        grid-area: bookPair;
    }

    .blogPost {
        display: flex;
        flex-direction: row;
    }

    .authorPhoto {
        height: 100%;
        max-height: 400px;
        margin: 0 50px 0 50px;
    }
}

@media(min-width: 600px) and (max-width: 900px) {

    .container {
        display: grid;
        grid-template-columns: .5fr 3fr .5fr;
        align-items: center;
        grid-template-areas:
            "sideL center sideR";
    }

    .sidebarL {
        grid-area: sidebarL;
    }
    
    .sidebarR {
        grid-area: sidebarR;
    }

    .tabs {
        display: flex;
        flex-direction: rows;
        justify-content: space-evenly;
    }

    .posts {
        margin: 0 10% 0 10%;        
    }

    .cardPortrait {
        width: 75%;
    }

    .books {
        display: grid;
        grid-template-columns: .25fr 2fr .25fr;
        grid-template-areas:
            ". bookPair .";
    }

    .bookPair {
        grid-area: bookPair;
    }
    /* Blog Post Page */
}

@media (min-width: 320px) and (max-width: 600px) {

    .container {
        display: grid;
        grid-template-columns: .25fr 3fr .25fr;
        align-items: center;
        grid-template-areas:
            "sideL center sideR";
    }

    .sidebarL {
        grid-area: sidebarL;
    }
    
    .sidebarR {
        grid-area: sidebarR;
    }

    .centerPanel {
        grid-area: center;
        display: flex;
        flex-direction: column;
    }

    .tabs {
        line-height: 2em;
    }

    .cardPortrait {
        width: 75%;
    }

    .bookPair {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .books {
        display: grid;
        grid-template-columns: .25fr 2fr .25fr;
        grid-template-areas:
            ". bookPair .";
    }

    .bookPair {
        grid-area: bookPair;
    }
    
    .bookCover {
        width: 50%;
    }
    
    .cover {
        width: 85%;
    }

    .otherAuthors {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 320px) {

    .container {
        display: grid;
        grid-template-columns: .2fr 3fr .2fr;
        align-items: center;
        grid-template-areas:
            "sideL center sideR";
    }

    .sidebarL {
        grid-area: sidebarL;
    }
    
    .sidebarR {
        grid-area: sidebarR;
    }

    .centerPanel {
        grid-area: center;
        display: flex;
        flex-direction: column;
    }

    .tabs {
        line-height: 2em;
    }

    .otherAuthors {
        display: flex;
        flex-direction: column;
    }

}

/* Responsive Styles - Media Queries*/

@media(min-width: 901px) {
    .author {
        font-size: 1em;
    }
}

@media(min-width: 600px) and (max-width: 900px) {
    body {
        box-shadow: 20px 0px 50px 0 rgb(0, 0, 0, .9) inset, -20px 0px 50px 0 rgb(0, 0, 0, .9) inset;
    }

    .blogTitle {
        font-size: 1.75em;
    }

    h1 {
        text-align: center;
    }

    .tabs {
        display: flex;
        flex-direction: rows;
        justify-content: space-between;
    }

    .authorPhoto {
        height: 100%;
        max-height: 400px;
        margin: 0 50px 0 50px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    body {
        box-shadow: 10px 0px 20px 0 rgb(0, 0, 0, .7) inset, -10px 0px 20px 0 rgb(0, 0, 0, .7) inset;
    }

    .blogTitle {
        font-size: 1.75em;
    }

    h1 {
        text-align: center;
        font-size: 1.5em;
    }

    .author {
        font-size: 1.25em;
    }

    .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .socialLink {
        margin: 20px;
    }
}

@media(max-width: 320px) {
    body {
        box-shadow: 10px 0px 30px 0 rgb(0, 0, 0, .1) inset, -10px 0px 30px 0 rgb(0, 0, 0, .1) inset;
    }

    .blogTitle {
        font-size: 1.6em;
    }

    h1 {
        text-align: center;
        font-size: 1.5em;
    }

    .author {
        font-size: 1.25em;
    }   
}
