@media(max-width: 320px){

}
@media(min-width: 901px){

}
@media(min-width: 600px) and (max-width: 900px){

}
.container {
        display: grid;
        grid-template-columns: .5fr 3fr .5fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "head head head"
        "sideL nav sideR"
        "sideL intro sideR"
        "sideL posts sideR"
        "sideL section sideR"
        "sideL books sideR"
        "sideL auth sideR"
        "foot foot foot"
    }
.header {
    grid-area: head;
} 

.sidebarLeft {
    grid-area: sideL;
}

.sidebarRight {
    grid-area: sideR;
}

.navbar {
    grid-area: nav;
}

.tabs {
    display: flex;
    justify-content: space-around;
    }

.tab {
    display: inline;
}

.blogIntro {
    grid-area: intro;
}

.books {
    grid-area: books;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". cov ."
}

.bookCovers {
    grid-area: cov;
    display: flex;
    justify-content: space-between;
}

.book {
    width: 100%;
}

.blogSection {
    grid-area: posts;
    display: grid;
    grid-template-rows: .25fr 3fr;
    grid-template-areas: 
        "sectionTitle"
        "cards";
}

.posts {
    display: flex;
    flex-direction: row;
    grid-area: cards;
}
.post {
    width: 100%;
}
    
.authorInfo {
    grid-area: auth;
}

.profile {
    display: flex;
}

.social {
    display: flex;
    justify-content: flex-start;
}

.footer {
    grid-area: foot;
}